/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* following code is to 'normalize' the CSS so it can works for all the browsers */
/* the asterisk apply for each element */
* {
    margin: 0;
    padding: 0;
    /* border-box: width including width of border, margin, and so on
    Example: width is 52px. 52 px includes width of border, margin ad padding of box and content of box (=div)  */
    box-sizing: border-box;
}

/* all child elements of body element will inherit the styling mentioned down below */
body {
    /* Lato is available because we have Google fonts prepared in html section */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* space = height between the text lines */
    line-height: 1.7;
    color: #777;
    /* space around the elements */
    padding: 30px;
}

.header {
    /* height always be 95% of viewport height = resolution of currently opened window */
    height: 95vh;
    /* to achieve colorful background with image, we use two paramaters here: */
    /* first parameter in linear-gradient we specify direction of gradient (to left, to bottom, to right, ...) */
    /* to show the background page we use opacity in colors. Fourth parameter in rgba is opacity value */
   background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.801), rgba(40, 180, 133, 0.801)), url(../img/hero.jpg);
    /* cover: always fit the size of the box so it will not overflow the viewport */
    background-size: cover;
    /* with the change of viewport size always show the top of the background */
    background-position: top;
    /* achieve the crop of the image */
    /* within polygon we need to specify 4 points. Each point = corner of the image has its own two paramaters (x and y) */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}